header {
  overflow: hidden;

}

.navbar .navbar-brand {
  color: white;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.bg-custom {
  background-color: #003366 !important;
}


.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 500px;
  background: url(https://www.fubonguardians.com/UploadFolder/file/index/1dafc664-1b1c-439f-b5db-613b51192c2d.png);
  background-size: 100% 100%;

  background-position: center;
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #226089;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #4592af;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 300px;
}

.card-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.player-category {
  color: #666666;
  font-size: 0.8rem;
}

.player-show-name {
  position: relative;
  top: -100px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 992px) {

  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {

  .player-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {

  .card img {
    height: auto;
  }

}

.card-number {
  color: rgb(0, 19, 128);

}

.card-name {
  color: rgb(4, 17, 102);

}

.custom-dropdown-btn {
  background-color: #004b90;
  color: white;

}

.btn-major-custom {
  color: #fff;
  background-color: #004b90;
  border-color: #004b90;
}

.btn-major-custom:hover {
  background-color: #003366;
  border-color: #003366;
}

.text-custom {
  color: #002255 !important;
  /* 使用 !important 確保這個樣式優先於其他樣式 */

}